.bg-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/space.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
  
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
}

header{
    background: white;
    padding: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #ea4c89;
    margin: 0;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 30px;
}

.card{
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
}

.card img{
    width: 100%;
    height: auto;
    display: block;
}

.info h2{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info h2{
    font-size: 16px;
    margin: 0;
}

.info span{
    color: #ea4c89;
    font-weight: bold;
}

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    z-index: 999;
}

.modal-content{
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    text-align: center;
    position: relative;
}

.modal-content img{
    width: 100%;
    border-radius: 8px;
}

.modal-content h2{
    margin-top: 15px;
    font-size: 20px;
}

.close-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    color: #333;
    cursor: pointer;
}

.like-btn{
    background: none;
    border: none;
    color: #ea4c89;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.like-btn:hover {
    transform: scale(1.2);
}

.like-btn.liked{
    color: #ff3355;
}

.add-project{
    background: #fff;
    padding: 30px;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.add-project input{
    margin: 10px;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.add-project button{
    padding: 10px 20px;
    background-color: #ea4c89;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

body {
    background-image: url(/img/space.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

body.dark {
    background-color: #121212;
    color: #eee;
}
  
body.dark header,  
body.dark .card,
body.dark .add-project {
    background-color: #1e1e1e;
    color: #eee;
}
  
#toggleTheme {
    background: none;
    border: 1px solid #ccc;
    padding: 8px 15px;
    margin-left: 15px;
    border-radius: 20px;
    cursor: pointer;
    color: inherit;
}

.login-body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #111, #222);
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    color: #fff;
}

.login-container{
    background: #1e1e1e;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.60);
    text-align: center;
}

.login-container h2{
    margin-bottom: 20px;
    color: #ea4c89;
}

.login-container input{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
    font-size: 14px;
}

.login-container button{
    width: 100%;
    padding: 12px;
    background: #ea4c89;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover{
    background: #ea4c89;
}

.error-message{
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.auth-buttons{
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.auth-buttons .btn{
    background-color: #ea4c89;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: backgroud 0.3;
}

.auth-buttons .btn:hover{
    background-color: #ff5c99;
}